button{
    height: 50px;
    width: 50px;
}
#cal{
    text-align: center;
}
#input{
    width: 210px;
    text-align: right;
}
.row{
    text-align: -webkit-center;
    padding: 5px 5px 5px 5px ;
}
form{
    text-align: -webkit-center;
}